@import "../../node_modules/@arccommon/flight-dev-kit/dist/fds-bootstrap/color";
@import "../../node_modules/@arccommon/flight-dev-kit/dist/fds-bootstrap/space";
@import "../../node_modules/@arccommon/flight-dev-kit/dist/fds-bootstrap/elevation";



.btn-secondary {
  background: transparent;
}

.homepage-wrapper {
  position: relative;
  background-color: $white;
  padding-bottom: 0;

  .homepage-jumbo {
    background-color: $purple-800;

    .container {
      display: flex;
      min-height: 25rem;
    }

    h1 {
      span {
        font-weight: 200;
      }
    }

    h1,
    h2 {
      margin-bottom: $space-lg-fixed;
    }

    .fds-link {
      color: #ffffff;
    }

    

    img {
      padding: 10px;
      height: 100px;
    }

    .list-group-item {
      background: $purple-900;
      border: none;
      text-align: center;
      box-shadow: $ele-md;

      .row {
        margin: 0;
      }

      &:first-child {
        margin-bottom: 1rem;
      }

      &:hover {
        box-shadow: $ele-lg;
      }
    }
  }

  .homepage-cards {
    padding: ($space-xl-fixed * 2.5) 0;

    .card {
      height: auto;
    }
  }

  .homepage-styleguide {
    margin: ($space-xl-fixed * 2.5) auto;
  }

  a {
    text-decoration: none;
  }

  .homepage-nav {
    .homepage-nav-title {
      display: inline-block;
      line-height: 60px;
      font-weight: 600;
      span {
        font-weight: 700;
      }
    }
    .homepage-nav-link,
    a.homepage-nav-link {
      display: inline-block;
      padding-left: 40px;
      font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
      color: #777777;
      line-height: 60px;
      text-decoration: none;
      &:hover {
        color: #222222;
      }
    }
  }

  .homepage-nav {
    background: #ffffff;
    color: #000000;
    height: 60px;
  }
  //fullbleed
  .homepage-fb {
    background: #222222;
    background-size: cover;
    padding: 170px 0;

    &.homepage-fb1 {
      background: url("https://www2.arccorp.com/globalassets/fds/fds-jumbo-1.png")
        no-repeat center center;
      background-size: cover;
      h2 {
        padding-right: 10px;
        margin-bottom: 0;
        font-weight: 600;
      }
      h2,
      img {
        display: inline-block;
      }
    }

    &.homepage-fb2 {
      background: #222222
        url("https://www2.arccorp.com/globalassets/fds/fds-jumbo-2.png")
        no-repeat right center;
      background-size: cover;
      h2 {
        font-weight: 400;
      }
      h2,
      p {
        margin-bottom: 30px;
      }
    }

    &.homepage-fb3 {
      background: #222222
        url("https://www2.arccorp.com/globalassets/fds/fds-jumbo-3.png")
        no-repeat right center;
      background-size: cover;
    }

    .homepage-fb-content {
      max-width: 450px;
      line-height: 1.5rem;
    }
  }
  .homepage-card-container {
    padding: ($space-xl-fixed * 2.5) 0;

    h2 {
      margin-bottom: $space-lg-fixed;
    }

    .homepage-card-grid {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-gap: 0.5rem;
    }

    .homepage-card,
    a.homepage-card,
    a.homepage-card:visited {
      background: #dddddd;
      padding: 25px;
      text-decoration: none;

      &.homepage-card-1 {
        background: #292b42;
      }
      &.homepage-card-2 {
        background: #515b5e;
      }

      &.homepage-card-theme-blue {
        background: #292b42;
      }

      &.homepage-card-theme-teal {
        background: #189bb0;
      }

      &.homepage-card-theme-brown {
        background: #b8a781;
      }
      &.homepage-card-theme-grey {
        background: #515b5e;
      }
    }

    .hero-card-grid-2 {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-gap: 0.5rem;
    }

    .hero-card-grid-4 {
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-gap: 0.5rem;
    }

    .homepage-card-copy {
      color: #ffffff;
      font-weight: 600;
      font-size: 1.7rem;
      height: 8.5rem;
    }

    .homepage-card-icon {
      img {
        margin-top: 45px;
      }
    }

    .homepage-card-meta {
      font-weight: 800;
      text-transform: uppercase;
      padding: 0.5rem 0;
      img {
        display: block;
      }
      .homepage-card-link {
        margin-top: 15px;
        font-weight: 600;
        text-decoration: none;
        color: #ffffff;
        font-size: 0.875rem;
      }
    }
  }

  .homepage-footer {
    display: grid;
    color: #222222;
    grid-template-columns: 50% 50%;
    align-items: center;
    background: #ffffff;
    padding: 4rem;

    .homepage-footer-copyright {
      font-size: 0.875rem;
      text-align: right;
    }
  }
}
