@import "../../node_modules/@arccommon/flight-dev-kit/dist/fds-bootstrap/color";

@import "../../node_modules/@arccommon/flight-dev-kit/dist/fds-bootstrap/fds-bootstrap.min.css";



pre code {
  color: $white !important;
}

.copyCodeBlock pre code {
  background: transparent !important;
}

.copyCodeBlock button {
  align-self: flex-start;
}