@font-face {
  font-family: 'fds-glyphs';
  src:  url('fonts/fds-glyphs.eot?rqc4wt');
  src:  url('fonts/fds-glyphs.eot?rqc4wt#iefix') format('embedded-opentype'),
    url('fonts/fds-glyphs.ttf?rqc4wt') format('truetype'),
    url('fonts/fds-glyphs.woff?rqc4wt') format('woff'),
    url('fonts/fds-glyphs.svg?rqc4wt#fds-glyphs') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fds-glyphs-"], [class*=" fds-glyphs-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fds-glyphs' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fds-glyphs-clear:before {
  content: "\e900";
}
.fds-glyphs-calendar:before {
  content: "\e901";
}
.fds-glyphs-arrow-down3:before {
  content: "\e902";
}
.fds-glyphs-error:before {
  content: "\e903";
}
.fds-glyphs-plus:before {
  content: "\e904";
}
.fds-glyphs-arrow-down4:before {
  content: "\e906";
}
.fds-glyphs-arrow-down5:before {
  content: "\e907";
}
.fds-glyphs-arrow-left3:before {
  content: "\e908";
}
.fds-glyphs-arrow-left4:before {
  content: "\e909";
}
.fds-glyphs-arrow-right3:before {
  content: "\e90a";
}
.fds-glyphs-arrow-right4:before {
  content: "\e90b";
}
.fds-glyphs-arrow-up3:before {
  content: "\e90c";
}
.fds-glyphs-arrow-up4:before {
  content: "\e90d";
}
.fds-glyphs-arrow-up5:before {
  content: "\e90e";
}
.fds-glyphs-attachment:before {
  content: "\e90f";
}
.fds-glyphs-bell2:before {
  content: "\e910";
}
.fds-glyphs-bin2:before {
  content: "\e911";
}
.fds-glyphs-blocked1:before {
  content: "\e912";
}
.fds-glyphs-bookmark2:before {
  content: "\e913";
}
.fds-glyphs-box-add:before {
  content: "\e914";
}
.fds-glyphs-bubble2:before {
  content: "\e915";
}
.fds-glyphs-bubble7:before {
  content: "\e916";
}
.fds-glyphs-cancel-circle:before {
  content: "\e918";
}
.fds-glyphs-cancel-square:before {
  content: "\e919";
}
.fds-glyphs-cancel-square2:before {
  content: "\e91a";
}
.fds-glyphs-checkbox-checked2:before {
  content: "\e91b";
}
.fds-glyphs-checkbox-unchecked2:before {
  content: "\e91c";
}
.fds-glyphs-checkmark-circle:before {
  content: "\e91d";
}
.fds-glyphs-circle-small:before {
  content: "\e91e";
}
.fds-glyphs-circle:before {
  content: "\e91f";
}
.fds-glyphs-clock3:before {
  content: "\e920";
}
.fds-glyphs-cog6:before {
  content: "\e921";
}
.fds-glyphs-copy:before {
  content: "\e922";
}
.fds-glyphs-credit-card1:before {
  content: "\e923";
}
.fds-glyphs-cross2:before {
  content: "\e924";
}
.fds-glyphs-cross3:before {
  content: "\e925";
}
.fds-glyphs-download:before {
  content: "\e926";
}
.fds-glyphs-download4:before {
  content: "\e927";
}
.fds-glyphs-download5:before {
  content: "\e928";
}
.fds-glyphs-envelop3:before {
  content: "\e929";
}
.fds-glyphs-file-empty:before {
  content: "\e92a";
}
.fds-glyphs-file-excel:before {
  content: "\e92b";
}
.fds-glyphs-file-locked:before {
  content: "\e92c";
}
.fds-glyphs-file-minus:before {
  content: "\e92d";
}
.fds-glyphs-file-pdf:before {
  content: "\e92f";
}
.fds-glyphs-file-plus:before {
  content: "\e930";
}
.fds-glyphs-file-presentation:before {
  content: "\e931";
}
.fds-glyphs-file-spreadsheet:before {
  content: "\e932";
}
.fds-glyphs-file-stats:before {
  content: "\e933";
}
.fds-glyphs-file-text:before {
  content: "\e934";
}
.fds-glyphs-file-text2:before {
  content: "\e935";
}
.fds-glyphs-file-word:before {
  content: "\e936";
}
.fds-glyphs-files-empty:before {
  content: "\e937";
}
.fds-glyphs-filter3:before {
  content: "\e938";
}
.fds-glyphs-floppy-disk2:before {
  content: "\e939";
}
.fds-glyphs-folder-download3:before {
  content: "\e93a";
}
.fds-glyphs-folder-minus4:before {
  content: "\e93b";
}
.fds-glyphs-folder-open3:before {
  content: "\e93c";
}
.fds-glyphs-folder-plus4:before {
  content: "\e93d";
}
.fds-glyphs-folder-upload3:before {
  content: "\e93e";
}
.fds-glyphs-folder2:before {
  content: "\e93f";
}
.fds-glyphs-folder3:before {
  content: "\e940";
}
.fds-glyphs-folder4:before {
  content: "\e941";
}
.fds-glyphs-folder6:before {
  content: "\e942";
}
.fds-glyphs-home:before {
  content: "\e943";
}
.fds-glyphs-info:before {
  content: "\e944";
}
.fds-glyphs-info2:before {
  content: "\e945";
}
.fds-glyphs-lamp7:before {
  content: "\e946";
}
.fds-glyphs-lamp8:before {
  content: "\e947";
}
.fds-glyphs-libreoffice:before {
  content: "\e948";
}
.fds-glyphs-link:before {
  content: "\e949";
}
.fds-glyphs-list:before {
  content: "\e94a";
}
.fds-glyphs-menu-open:before {
  content: "\e94b";
}
.fds-glyphs-menu:before {
  content: "\e94c";
}
.fds-glyphs-minus-circle:before {
  content: "\e94d";
}
.fds-glyphs-more2:before {
  content: "\e94e";
}
.fds-glyphs-notification:before {
  content: "\e94f";
}
.fds-glyphs-notification2:before {
  content: "\e950";
}
.fds-glyphs-pencil3:before {
  content: "\e951";
}
.fds-glyphs-pencil4:before {
  content: "\e952";
}
.fds-glyphs-phone:before {
  content: "\e953";
}
.fds-glyphs-plus-circle:before {
  content: "\e954";
}
.fds-glyphs-plus3:before {
  content: "\e955";
}
.fds-glyphs-price-tag2:before {
  content: "\e956";
}
.fds-glyphs-printer3:before {
  content: "\e957";
}
.fds-glyphs-profile:before {
  content: "\e958";
}
.fds-glyphs-question4:before {
  content: "\e959";
}
.fds-glyphs-reset:before {
  content: "\e95c";
}
.fds-glyphs-rotate-cw3:before {
  content: "\e95d";
}
.fds-glyphs-search:before {
  content: "\e95e";
}
.fds-glyphs-sort:before {
  content: "\e95f";
}
.fds-glyphs-spinner11:before {
  content: "\e960";
}
.fds-glyphs-upload:before {
  content: "\e963";
}
.fds-glyphs-upload4:before {
  content: "\e964";
}
.fds-glyphs-upload5:before {
  content: "\e965";
}
.fds-glyphs-user3:before {
  content: "\e966";
}
.fds-glyphs-warning:before {
  content: "\e967";
}
.fds-glyphs-warning2:before {
  content: "\e968";
}
.fds-glyphs-wrench:before {
  content: "\e969";
}
.fds-glyphs-minus:before {
  content: "\ea0b";
}
.fds-glyphs-minus3:before {
  content: "\ed5e";
}
.fds-glyphs-checkmark3:before {
  content: "\ed71";
}
.fds-glyphs-circle2:before {
  content: "\ee78";
}
.fds-glyphs-transmission:before {
  content: "\e977";
}
.fds-glyphs-menu1:before {
  content: "\e978";
}
.fds-glyphs-arrow-resize:before {
  content: "\e92e";
}
.fds-glyphs-arrow-resize1:before {
  content: "\e95a";
}
.fds-glyphs-arrow-down-left:before {
  content: "\e95b";
}
.fds-glyphs-arrow-down-right:before {
  content: "\e961";
}
.fds-glyphs-arrow-up-left:before {
  content: "\e962";
}
.fds-glyphs-arrow-up-right:before {
  content: "\e970";
}
.fds-glyphs-arrow-down:before {
  content: "\e971";
}
.fds-glyphs-arrow-right:before {
  content: "\e972";
}
.fds-glyphs-arrow-up:before {
  content: "\e973";
}
.fds-glyphs-arrow-left:before {
  content: "\e974";
}
.fds-glyphs-caret-right:before {
  content: "\e975";
}
.fds-glyphs-caret-left:before {
  content: "\e976";
}
.fds-glyphs-briefcase:before {
  content: "\e96f";
}
.fds-glyphs-coin-dollar:before {
  content: "\e905";
}
.fds-glyphs-credit-card:before {
  content: "\e917";
}
.fds-glyphs-airplane:before {
  content: "\e96a";
}
.fds-glyphs-eye:before {
  content: "\e96b";
}
.fds-glyphs-eye-blocked:before {
  content: "\e96c";
}
.fds-glyphs-star-full:before {
  content: "\e96d";
}
.fds-glyphs-star-empty:before {
  content: "\e96e";
}